ENVIRONMENT=development
DEBUG=true
APP_TITLE=FastAPI Template
SENTRY_ENABLED=false
SENTRY_DSN=
SENTRY_ENVIRONMENT=development
SENTRY_TRACES_SAMPLE_RATE=0.0
SENTRY_RELEASE=

POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=app
